<html>
<head>
	<title>Blog</title>
</head>
<body>
	<h1><center>Red & White Multimedia Education</center></h1>

	<center>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
 		Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
	</center>
	<hr><hr>

		<center>
			<a href="/home" target="blank">Home</a> &nbsp
			<a href="/about" target="blank">About us</a> &nbsp
			<a href="/service" target="blank">services</a> &nbsp
			<a href="/blog" target="blank">Blog</a> &nbsp
			<a href="/contact" target="blank">Contact Us</a>
		</center>
<hr><hr>

<h2><center>Blog</h2></center>

	<center>
	<img src="./Images/blog2.png" title="BLOGGING" alt="image not found" width="830" height="450">
	<img src="./Images/blog2.png" title="BLOGGING" alt="image not found" width="830" height="450">
	</center>

<h2><center>Red and White Multimedia</h2></center><br>

	<p>
	<i>Lorem</i> Ipsum is simply dummy text of the printing and typesetting industry.
	<b>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</b> when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the <mark>1960s</mark> with the 
	release of 
	sheets containing <u>Lorem Ipsum passages, and more recently </u>with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Why do we use it?
	It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
	</p>

</body>
</title>