<html>
<head>
	<title>Contact Us</title>
</head>
<body>
	<h1><center>Red & White Multimedia Education</center></h1>

	<center>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
 		Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
	</center>
	<hr><hr>

		<center>
			<a href="/home" target="blank">Home</a> &nbsp
			<a href="/about" target="blank">About us</a> &nbsp
			<a href="/service" target="blank">services</a> &nbsp
			<a href="/blog" target="blank">Blog</a> &nbsp
			<a href="/contact" target="blank">Contact Us</a>
		</center>
<hr><hr>

<h2><center>Contact Us</h2></center>

	<center>
	<img src="./Images/map.jpg" title="LOCATION" alt="image not found" width="1250" height="500">
	</center>

<dl>
	<dt><b><h3>Adress:<h3></b></dt>
	<dt>3<sup>rd</sup> block, any street, any area, ahemdabad-382350</dt>

	<dt><b><h3>Contact:</h3></b></dt>	
	<dt><b>Mobaile:</b> +917698363491</dt>
	<dt><b>Email:</b> anyname135@gmail.com</dt>
</dl>

</body>
</title>