<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<h1><center>Red & White Multimedia Education</center></h1>

	<center>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
 		Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
	</center>
	<hr><hr>

			<center>
				<a href="/home" target="blank">Home</a> &nbsp
				<a href="/about" target="blank">About us</a> &nbsp
				<a href="/service" target="blank">services</a> &nbsp
				<a href="/blog" target="blank">Blog</a> &nbsp
				<a href="/contact" target="blank">Contact Us</a>
			</center>
<hr><hr>

<h2><center>Home Page</h2></center>

	<center>
	<img src="./Images/webdesign.png" title="WEB DESIGN" alt="image not found" width="1830" height="550">
	</center>

	


	<p>
	<i>Lorem</i> Ipsum is simply dummy text of the printing and typesetting industry.
	<b>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</b> 
	when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
	It has survived not only five centuries, but also the leap into electronic typesetting, 
	remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
	sheets containing <u>Lorem Ipsum passages, and more recently </u>with desktop publishing software like Aldus PageMaker 
	including versions of Lorem Ipsum.Why do we use it?
	It is a long established fact that a reader will be distracted by the readable 
	content of a page when looking at its layout. 
	remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
	sheets containing <u>Lorem Ipsum passages, and more recently </u>with desktop publishing software like Aldus PageMaker 
	including versions of Lorem Ipsum.Why do we use it?
	It is a long established fact that a reader will be distracted by the readable 
	content of a page when looking at its layout. 
	</p>

	<p>
	The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 
	'Content here, content here', making it look like readable English. Many desktop publishing packages 
	and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' 
	will uncover many web sites still in their infancy. Various versions have evolved over the years, 
	sometimes by accident, sometimes on purpose (injected humour and the like).
	Where does it come from?
	Contrary to popular belief, Lorem Ipsum is not simply random text. 
	It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
	Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure 
	Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical 
	literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Fi
	nibus Bonorum et Malorum" <mark>(The Extremes of Good and Evil)</mark> by Cicero, written in 45 BC. This book is a treatise
	on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, <u>"Lorem ipsum dolor sit 
	amet.."</u>, comes from a line in section 1.10.32.
	</p>


</body>
</title>