<html>
<head>
	<title>Services</title>
</head>
<body>
	<h1><center>Red & White Multimedia Education</center></h1>

	<center>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
 		Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
	</center>
	<hr><hr>

			<center>
				<a href="/home" target="blank">Home</a> &nbsp
				<a href="/about" target="blank">About us</a> &nbsp
				<a href="/service" target="blank">services</a> &nbsp
				<a href="/blog" target="blank">Blog</a> &nbsp
				<a href="/contact" target="blank">Contact Us</a>
			</center>
<hr><hr>

<h2><center>Services</h2></center>

	<center>
	<img src="./Images/service.jpg" title="SERVICES" alt="image not found" width="550" height="370">

	<img src="./Images/services2.jpg" title="SERVICES" alt="image not found" width="500" height="370">

	<img src="./Images/service.jpg" title="SERVICES" alt="image not found" width="550" height="370">
	</center>

<h2><center>Our Services</center></h2>


	<ol type="I">
		<li>Design</li>
			<ol type="a">
			<li>Web Design</li>
			<li>Graphic Design</li>
			</ol>

		<li>Developing</li>
			<ol type="a">
			<li>Web Design</li>
			<li>Graphic Design</li>
			</ol>

		<li>Programming</li>
			<ol type="a">
			<li>Android</li>
			<li>iOS</li>
			</ol>

	</ol>


</body>
</title>